node-red-raspi-misc.json
[{"id":"5ba5bde5.63e1d4","type":"tab","label":"Misc","disabled":false,"info":""},{"id":"a61dc4c2.6157c8","type":"binary-serializer-g","z":"5ba5bde5.63e1d4","name":"","x":670,"y":260,"wires":[["9886ca61.958958"]]},{"id":"9886ca61.958958","type":"serial out","z":"5ba5bde5.63e1d4","name":"UART","serial":"10d63fa4.72f31","x":830,"y":260,"wires":[]},{"id":"2a44879.7c0f178","type":"websocket in","z":"5ba5bde5.63e1d4","name":"","server":"715107d8.5a9c98","client":"","x":100,"y":260,"wires":[["5bc99584.7aeb7c"]]},{"id":"5bc99584.7aeb7c","type":"json","z":"5ba5bde5.63e1d4","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":260,"wires":[["32c47f31.bbabb"]]},{"id":"45031639.98cba8","type":"websocket in","z":"5ba5bde5.63e1d4","name":"","server":"76ad0ce.d445ef4","client":"","x":90,"y":300,"wires":[[]]},{"id":"f616024.48787","type":"websocket in","z":"5ba5bde5.63e1d4","name":"","server":"e4a39925.4c46a8","client":"","x":90,"y":340,"wires":[[]]},{"id":"34033efd.8ed862","type":"inject","z":"5ba5bde5.63e1d4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["a0274dc8.53a75"]]},{"id":"8f0a7d69.41719","type":"http in","z":"5ba5bde5.63e1d4","name":"","url":"/input_config/0","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["a0274dc8.53a75","f499f8.f6637608"]]},{"id":"f0a10e97.5f803","type":"binary-serializer-g","z":"5ba5bde5.63e1d4","name":"","x":480,"y":40,"wires":[["bae46e8.fe67a9"]]},{"id":"bae46e8.fe67a9","type":"serial out","z":"5ba5bde5.63e1d4","name":"UART","serial":"10d63fa4.72f31","x":670,"y":40,"wires":[]},{"id":"f499f8.f6637608","type":"http response","z":"5ba5bde5.63e1d4","name":"http response","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":640,"y":160,"wires":[]},{"id":"e13943d4.e5f98","type":"inject","z":"5ba5bde5.63e1d4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["736beae3.e371e4"]]},{"id":"a2e7c886.b1dd28","type":"http in","z":"5ba5bde5.63e1d4","name":"","url":"/input_config/1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["736beae3.e371e4","f499f8.f6637608"]]},{"id":"a0274dc8.53a75","type":"input-config","z":"5ba5bde5.63e1d4","name":"DPAD normal","ctarget":"dpad","cmap":0,"x":260,"y":40,"wires":[["f0a10e97.5f803"]]},{"id":"736beae3.e371e4","type":"input-config","z":"5ba5bde5.63e1d4","name":"DPAD reverse","ctarget":"dpad","cmap":"1","x":260,"y":120,"wires":[["f0a10e97.5f803"]]},{"id":"40c1dd43.5043e4","type":"serial in","z":"5ba5bde5.63e1d4","name":"UART","serial":"10d63fa4.72f31","x":70,"y":420,"wires":[["3ed0903a.39613"]]},{"id":"3ed0903a.39613","type":"function","z":"5ba5bde5.63e1d4","name":"decode button input","func":"var tId = msg.payload.readUInt8(0);\n\nswitch(tId){\n    case 0x01:\n        return [{payload:{\"b1\": true}}, null, null, null];\n    case 0x02:\n        return [null, {payload:{\"b2\": true}}, null, null];\n    case 0x04:\n        return [null, null, {payload:{\"b3\": true}}, null];\n    case 0x08:\n        return [null, null, null, {payload:{\"b4\": true}}];\n}\n","outputs":4,"noerr":0,"x":270,"y":420,"wires":[["bc2c08ad.d22f38","756afb92.1e58f4","37fd6d.6f32c294"],["756afb92.1e58f4","5079c2e8.58672c","ef2425a6.c97e48"],["756afb92.1e58f4","8a4f84cc.aa21e8","3cf551a8.91085e"],["756afb92.1e58f4","3c4f97cd.b72a18","109a6187.865e5e"]]},{"id":"533cc72c.0d0ab8","type":"exec","z":"5ba5bde5.63e1d4","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":560,"wires":[[],[],[]]},{"id":"91417ac8.063cb8","type":"http response","z":"5ba5bde5.63e1d4","name":"http response","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":340,"y":620,"wires":[]},{"id":"b23392e0.ea689","type":"inject","z":"5ba5bde5.63e1d4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["533cc72c.0d0ab8"]]},{"id":"f90d65a.b4cef98","type":"http in","z":"5ba5bde5.63e1d4","name":"","url":"/halt","method":"get","upload":false,"swaggerDoc":"","x":80,"y":620,"wires":[["91417ac8.063cb8","533cc72c.0d0ab8"]]},{"id":"756afb92.1e58f4","type":"debug","z":"5ba5bde5.63e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":640,"wires":[]},{"id":"9f81abcb.57f518","type":"websocket in","z":"5ba5bde5.63e1d4","name":"","server":"","client":"6266eb03.fd3f74","x":230,"y":200,"wires":[["5bc99584.7aeb7c"]]},{"id":"bc2c08ad.d22f38","type":"http request","z":"5ba5bde5.63e1d4","name":"","method":"GET","ret":"txt","url":"https://noderedcon.azurewebsites.net/gc-btn/push/1","tls":"","x":530,"y":480,"wires":[["756afb92.1e58f4"]]},{"id":"5079c2e8.58672c","type":"http request","z":"5ba5bde5.63e1d4","name":"","method":"GET","ret":"txt","url":"https://noderedcon.azurewebsites.net/gc-btn/push/2","tls":"","x":530,"y":520,"wires":[["756afb92.1e58f4"]]},{"id":"8a4f84cc.aa21e8","type":"http request","z":"5ba5bde5.63e1d4","name":"","method":"GET","ret":"txt","url":"https://noderedcon.azurewebsites.net/gc-btn/push/3","tls":"","x":530,"y":560,"wires":[["756afb92.1e58f4"]]},{"id":"3c4f97cd.b72a18","type":"http request","z":"5ba5bde5.63e1d4","name":"","method":"GET","ret":"txt","url":"https://noderedcon.azurewebsites.net/gc-btn/push/4","tls":"","x":530,"y":600,"wires":[["756afb92.1e58f4"]]},{"id":"37fd6d.6f32c294","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/b1","server":"1f8add33.804df3","client":"","x":510,"y":320,"wires":[]},{"id":"ef2425a6.c97e48","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/b2","server":"667b5c37.c82e84","client":"","x":510,"y":360,"wires":[]},{"id":"3cf551a8.91085e","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/b3","server":"9a2d97c8.1e26a8","client":"","x":510,"y":400,"wires":[]},{"id":"109a6187.865e5e","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/b4","server":"bc42c680.6ca428","client":"","x":510,"y":440,"wires":[]},{"id":"3f09ec27.8e8a74","type":"http response","z":"5ba5bde5.63e1d4","name":"http response","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":540,"y":680,"wires":[]},{"id":"3e684824.b93c38","type":"http in","z":"5ba5bde5.63e1d4","name":"","url":"/enable_pass_through","method":"get","upload":false,"swaggerDoc":"","x":130,"y":700,"wires":[["3f09ec27.8e8a74","a6e17861.1b5f78"]]},{"id":"a8e85b53.6b1778","type":"http in","z":"5ba5bde5.63e1d4","name":"","url":"/disable_pass_through","method":"get","upload":false,"swaggerDoc":"","x":140,"y":740,"wires":[["3f09ec27.8e8a74","91add33f.b8407"]]},{"id":"a6e17861.1b5f78","type":"function","z":"5ba5bde5.63e1d4","name":"enable pass through","func":"global.set(\"global_pass_through\",true);\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":740,"wires":[["70b3ea90.8e00b4"]]},{"id":"91add33f.b8407","type":"function","z":"5ba5bde5.63e1d4","name":"disable pass through","func":"global.set(\"global_pass_through\",false);\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":780,"wires":[["70b3ea90.8e00b4"]]},{"id":"70b3ea90.8e00b4","type":"debug","z":"5ba5bde5.63e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":760,"wires":[]},{"id":"162211ef.628f7e","type":"http in","z":"5ba5bde5.63e1d4","name":"","url":"/get_pass_through","method":"get","upload":false,"swaggerDoc":"","x":120,"y":780,"wires":[["bc9103b4.45063"]]},{"id":"bc9103b4.45063","type":"function","z":"5ba5bde5.63e1d4","name":"get pass through","func":"var pt = global.get(\"global_pass_through\");\nmsg.payload = \"pass_trough: \" + pt;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["3f09ec27.8e8a74"]]},{"id":"32c47f31.bbabb","type":"function","z":"5ba5bde5.63e1d4","name":"pass through if enabled","func":"var pt = global.get(\"global_pass_through\");\nif (pt === void 0){\n    return [msg,null];\n}\nif (pt === true){\n    return [msg,null];\n}else{\n    return [null,msg];\n}\n\n","outputs":2,"noerr":0,"x":450,"y":260,"wires":[["a61dc4c2.6157c8"],["3622af71.b906f"]]},{"id":"3622af71.b906f","type":"function","z":"5ba5bde5.63e1d4","name":"decode dsl4gc","func":"out = [null,null,null,null,null,null,null,null,null];\nif (\"dur\" in msg.payload[0] && msg.payload[0].dur === -1){\n    if (\"dpad\" in msg.payload[0]){\n        out[0] = {payload:{\"dpad\": msg.payload[0].dpad}};\n    }\n    if (\"btn\" in msg.payload[0]){\n        if(\"0\" in msg.payload[0].btn){\n            out[1] = {payload:{\"btnA\": msg.payload[0].btn['0']}};\n        }\n        if(\"1\" in msg.payload[0].btn){\n            out[2] = {payload:{\"btnB\": msg.payload[0].btn['1']}};\n        }\n        if(\"6\" in msg.payload[0].btn){\n            out[3] = {payload:{\"btnSe\": msg.payload[0].btn['6']}};\n        }\n        if(\"7\" in msg.payload[0].btn){\n            out[4] = {payload:{\"btnSt\": msg.payload[0].btn['7']}};\n        }\n        if(\"2\" in msg.payload[0].btn){\n            out[5] = {payload:{\"btnX\": msg.payload[0].btn['2']}};\n        }\n        if(\"3\" in msg.payload[0].btn){\n            out[6] = {payload:{\"btnY\": msg.payload[0].btn['3']}};\n        }\n        if(\"4\" in msg.payload[0].btn){\n            out[7] = {payload:{\"btnL\": msg.payload[0].btn['4']}};\n        }\n        if(\"5\" in msg.payload[0].btn){\n            out[8] = {payload:{\"btnR\": msg.payload[0].btn['5']}};\n        }\n    }\n}\nreturn out;\n\n","outputs":9,"noerr":0,"x":680,"y":380,"wires":[["d41ca4b9.586998","40313591.f2e87c"],["365f9b84.71cc44","40313591.f2e87c"],["edbd2e20.0f02e","40313591.f2e87c"],["27619df9.df29b2","40313591.f2e87c"],["afc960ca.7ba33","40313591.f2e87c"],["3884a1a4.9a9abe","40313591.f2e87c"],["6e33c04b.36414","40313591.f2e87c"],["e5f39b95.00cca8","40313591.f2e87c"],["ac0123e.fd44ce","40313591.f2e87c"]]},{"id":"d41ca4b9.586998","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/dpad","server":"2acb941a.1ee0ec","client":"","x":880,"y":360,"wires":[]},{"id":"365f9b84.71cc44","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btna","server":"4ad93bb9.556b94","client":"","x":880,"y":400,"wires":[]},{"id":"edbd2e20.0f02e","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btnb","server":"50542261.3d278c","client":"","x":880,"y":440,"wires":[]},{"id":"27619df9.df29b2","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btnse","server":"f523addf.684ef","client":"","x":880,"y":480,"wires":[]},{"id":"afc960ca.7ba33","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btnst","server":"8d4fe250.e32ef","client":"","x":880,"y":520,"wires":[]},{"id":"40313591.f2e87c","type":"debug","z":"5ba5bde5.63e1d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":320,"wires":[]},{"id":"3884a1a4.9a9abe","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btnx","server":"2d99ef26.7b72d","client":"","x":880,"y":560,"wires":[]},{"id":"6e33c04b.36414","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btny","server":"d2a0adcc.08b9f","client":"","x":880,"y":600,"wires":[]},{"id":"e5f39b95.00cca8","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btnl","server":"6e797db3.9957f4","client":"","x":880,"y":640,"wires":[]},{"id":"ac0123e.fd44ce","type":"websocket out","z":"5ba5bde5.63e1d4","name":"/ws/btnr","server":"caf47bbb.0904d8","client":"","x":880,"y":680,"wires":[]},{"id":"10d63fa4.72f31","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"bin","out":"char","addchar":false},{"id":"715107d8.5a9c98","type":"websocket-listener","z":"","path":"/gamepad","wholemsg":"false"},{"id":"76ad0ce.d445ef4","type":"websocket-listener","z":"","path":"/mouse","wholemsg":"false"},{"id":"e4a39925.4c46a8","type":"websocket-listener","z":"","path":"/keyboard","wholemsg":"false"},{"id":"6266eb03.fd3f74","type":"websocket-client","z":"","path":"ws://noderedcon.azurewebsites.net/ws/gamepad_sub","tls":"","wholemsg":"false"},{"id":"1f8add33.804df3","type":"websocket-listener","z":"","path":"/ws/b1","wholemsg":"false"},{"id":"667b5c37.c82e84","type":"websocket-listener","z":"","path":"/ws/b2","wholemsg":"false"},{"id":"9a2d97c8.1e26a8","type":"websocket-listener","z":"","path":"/ws/b3","wholemsg":"false"},{"id":"bc42c680.6ca428","type":"websocket-listener","z":"","path":"/ws/b4","wholemsg":"false"},{"id":"2acb941a.1ee0ec","type":"websocket-listener","z":"","path":"/ws/dpad","wholemsg":"false"},{"id":"4ad93bb9.556b94","type":"websocket-listener","z":"","path":"/ws/btna","wholemsg":"false"},{"id":"50542261.3d278c","type":"websocket-listener","z":"","path":"/ws/btnb","wholemsg":"false"},{"id":"f523addf.684ef","type":"websocket-listener","z":"","path":"/ws/btnse","wholemsg":"false"},{"id":"8d4fe250.e32ef","type":"websocket-listener","z":"","path":"/ws/btnst","wholemsg":"false"},{"id":"2d99ef26.7b72d","type":"websocket-listener","z":"","path":"/ws/btnx","wholemsg":"false"},{"id":"d2a0adcc.08b9f","type":"websocket-listener","z":"","path":"/ws/btny","wholemsg":"false"},{"id":"6e797db3.9957f4","type":"websocket-listener","z":"","path":"/ws/btnl","wholemsg":"false"},{"id":"caf47bbb.0904d8","type":"websocket-listener","z":"","path":"/ws/btnr","wholemsg":"false"}]
