node-red.json
[{"id":"970c02e1.a58e4","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"c965f7bf.1c5058","type":"http in","z":"970c02e1.a58e4","name":"","url":"/dpad/push/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["ca79e9bb.289458","58e9c69a.928548","b369703e.a8c42"]]},{"id":"de659295.c22d3","type":"http in","z":"970c02e1.a58e4","name":"","url":"/dpad/hold/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["ca79e9bb.289458","58e9c69a.928548","697e202e.e89b6"]]},{"id":"ca79e9bb.289458","type":"http response","z":"970c02e1.a58e4","name":"","statusCode":"","headers":{},"x":430,"y":200,"wires":[]},{"id":"58e9c69a.928548","type":"debug","z":"970c02e1.a58e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":160,"wires":[]},{"id":"31a0b147.300dbe","type":"http in","z":"970c02e1.a58e4","name":"","url":"/btn/push/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["ca79e9bb.289458","58e9c69a.928548","a1b4a429.266c08"]]},{"id":"7653683e.be0328","type":"http in","z":"970c02e1.a58e4","name":"","url":"/btn/hold/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["ca79e9bb.289458","58e9c69a.928548","c0cace47.ca3ab"]]},{"id":"3480cce7.b1ec24","type":"http in","z":"970c02e1.a58e4","name":"","url":"/btn/release/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["ca79e9bb.289458","58e9c69a.928548","4e06f979.6a8138"]]},{"id":"4d69ee20.276d5","type":"websocket out","z":"970c02e1.a58e4","name":"/ws/b1","server":"98e5fdea.5430b","client":"","x":630,"y":580,"wires":[]},{"id":"b30b7996.11c398","type":"inject","z":"970c02e1.a58e4","name":"b1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":580,"wires":[["4d69ee20.276d5"]]},{"id":"d80fee4d.01fdc","type":"websocket out","z":"970c02e1.a58e4","name":"/ws/b2","server":"4ee105e.51a09fc","client":"","x":630,"y":620,"wires":[]},{"id":"b8c125a7.d24e68","type":"inject","z":"970c02e1.a58e4","name":"b2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["d80fee4d.01fdc"]]},{"id":"20a6b681.aff38a","type":"websocket out","z":"970c02e1.a58e4","name":"/ws/b3","server":"4bc741b0.4dfcf","client":"","x":630,"y":660,"wires":[]},{"id":"99974404.479ee8","type":"inject","z":"970c02e1.a58e4","name":"b3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":660,"wires":[["20a6b681.aff38a"]]},{"id":"497a1fe1.4de99","type":"websocket out","z":"970c02e1.a58e4","name":"/ws/b4","server":"5dd06626.945038","client":"","x":630,"y":700,"wires":[]},{"id":"7a2abb56.14e6e4","type":"inject","z":"970c02e1.a58e4","name":"b4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":700,"wires":[["497a1fe1.4de99"]]},{"id":"f9f0d395.46ec5","type":"comment","z":"970c02e1.a58e4","name":"For digital pad.  access like: https://noderedcon.azurewebsites.net/dpad/push/6    for pushing the right direction","info":"","x":430,"y":120,"wires":[]},{"id":"65ead1cc.fc06e","type":"comment","z":"970c02e1.a58e4","name":"For buttons.  access like: https://noderedcon.azurewebsites.net/hold/2    for holding button #2","info":"","x":380,"y":260,"wires":[]},{"id":"2d705363.a6cdfc","type":"comment","z":"970c02e1.a58e4","name":"For physical buttons on GC.  access like: ws://noderedcon.azurewebsites.net/ws/b1","info":"","x":350,"y":443,"wires":[]},{"id":"e588f15a.3f267","type":"comment","z":"970c02e1.a58e4","name":"Note that currently we use HTTPS and its default port, but we use HTTP and port 1880 for running on Raspberry Pi.","info":"","x":430,"y":60,"wires":[]},{"id":"a1b4a429.266c08","type":"function","z":"970c02e1.a58e4","name":"to Button push","func":"var btn_id = msg.req.params.id;\nvar gc_sentence = [\n    {\"btn\": {[btn_id]:true}, \"dur\":3}\n];\nmsg.payload = gc_sentence;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["eeeab2ef.4d84d"]]},{"id":"b369703e.a8c42","type":"function","z":"970c02e1.a58e4","name":"to Dpad push","func":"var dpad_id = msg.req.params.id;\nvar gc_sentence = [\n    {\"dpad\": dpad_id, \"dur\":3}\n];\nmsg.payload = gc_sentence;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":180,"wires":[["eeeab2ef.4d84d"]]},{"id":"eeeab2ef.4d84d","type":"websocket out","z":"970c02e1.a58e4","name":"","server":"64834bd4.145a94","client":"","x":890,"y":340,"wires":[]},{"id":"697e202e.e89b6","type":"function","z":"970c02e1.a58e4","name":"to Dpad hold","func":"var dpad_id = msg.req.params.id;\nvar gc_sentence = [\n    {\"dpad\": dpad_id, \"dur\":-1}\n];\nmsg.payload = gc_sentence;\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["eeeab2ef.4d84d"]]},{"id":"c0cace47.ca3ab","type":"function","z":"970c02e1.a58e4","name":"to Button hold","func":"var btn_id = msg.req.params.id;\nvar gc_sentence = [\n    {\"btn\": {[btn_id]:true}, \"dur\":-1}\n];\nmsg.payload = gc_sentence;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["eeeab2ef.4d84d"]]},{"id":"4e06f979.6a8138","type":"function","z":"970c02e1.a58e4","name":"to Button release","func":"var btn_id = msg.req.params.id;\nvar gc_sentence = [\n    {\"btn\": {[btn_id]:false}, \"dur\":-1}\n];\nmsg.payload = gc_sentence;\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["eeeab2ef.4d84d"]]},{"id":"d1568ff7.e6cd1","type":"http in","z":"970c02e1.a58e4","name":"","url":"/gc-btn/push/:id","method":"get","upload":false,"swaggerDoc":"","x":160,"y":500,"wires":[["ca79e9bb.289458","2aa77aa1.7d7eb6","58e9c69a.928548"]]},{"id":"2aa77aa1.7d7eb6","type":"function","z":"970c02e1.a58e4","name":"to GC-Button decode","func":"var tId = msg.req.params.id;\n\nswitch(tId){\n    case 1:\n        return [{}, null, null, null];\n    case 2:\n        return [null, {}, null, null];\n    case 3:\n        return [null, null, {}, null];\n    case 4:\n        return [null, null, null, {}];\n}","outputs":4,"noerr":0,"x":400,"y":500,"wires":[["4d69ee20.276d5","264081c4.7e91de"],["d80fee4d.01fdc"],["20a6b681.aff38a"],["497a1fe1.4de99"]]},{"id":"264081c4.7e91de","type":"debug","z":"970c02e1.a58e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":520,"wires":[]},{"id":"99631ffe.6dd0d","type":"websocket in","z":"970c02e1.a58e4","name":"","server":"e5afcd31.da1b6","client":"","x":680,"y":480,"wires":[["8314a45c.642628","264081c4.7e91de"]]},{"id":"8314a45c.642628","type":"function","z":"970c02e1.a58e4","name":"delete session","func":"msg._session = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":420,"wires":[["eeeab2ef.4d84d"]]},{"id":"98e5fdea.5430b","type":"websocket-listener","z":"","path":"/ws/b1","wholemsg":"false"},{"id":"4ee105e.51a09fc","type":"websocket-listener","z":"","path":"/ws/b2","wholemsg":"false"},{"id":"4bc741b0.4dfcf","type":"websocket-listener","z":"","path":"/ws/b3","wholemsg":"false"},{"id":"5dd06626.945038","type":"websocket-listener","z":"","path":"/ws/b4","wholemsg":"false"},{"id":"64834bd4.145a94","type":"websocket-listener","z":"","path":"/ws/gamepad","wholemsg":"false"},{"id":"e5afcd31.da1b6","type":"websocket-listener","z":"","path":"/gamepad","wholemsg":"false"}]
