node-red.json
[{"id":"8f6e696f.260938","type":"http in","z":"8431cec.dcd443","name":"","url":"/dpad/push/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["d094d9f9.54a428","399c6515.8e8a3a"]]},{"id":"9c1d976f.d71098","type":"http in","z":"8431cec.dcd443","name":"","url":"/dpad/hold/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["d094d9f9.54a428","399c6515.8e8a3a"]]},{"id":"d094d9f9.54a428","type":"http response","z":"8431cec.dcd443","name":"","statusCode":"","headers":{},"x":430,"y":180,"wires":[]},{"id":"399c6515.8e8a3a","type":"debug","z":"8431cec.dcd443","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":140,"wires":[]},{"id":"5be62363.42e30c","type":"http in","z":"8431cec.dcd443","name":"","url":"/btn/push/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["d094d9f9.54a428","399c6515.8e8a3a"]]},{"id":"78c0ad32.d2d9b4","type":"http in","z":"8431cec.dcd443","name":"","url":"/btn/hold/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["d094d9f9.54a428","399c6515.8e8a3a"]]},{"id":"f7e1aac1.970468","type":"http in","z":"8431cec.dcd443","name":"","url":"/btn/release/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["d094d9f9.54a428","399c6515.8e8a3a"]]},{"id":"e604382a.e2c5f8","type":"websocket out","z":"8431cec.dcd443","name":"/ws/b1","server":"3bafd941.8c93a6","client":"","x":350,"y":480,"wires":[]},{"id":"5eab583c.9a3ae8","type":"inject","z":"8431cec.dcd443","name":"b1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["e604382a.e2c5f8"]]},{"id":"8bae95.b8461168","type":"websocket out","z":"8431cec.dcd443","name":"/ws/b2","server":"73970813.ce7988","client":"","x":350,"y":520,"wires":[]},{"id":"42b6eb84.6e67a4","type":"inject","z":"8431cec.dcd443","name":"b2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["8bae95.b8461168"]]},{"id":"880e1595.eb8178","type":"websocket out","z":"8431cec.dcd443","name":"/ws/b3","server":"83d8757f.efdaa8","client":"","x":350,"y":560,"wires":[]},{"id":"749dbdf9.b14bd4","type":"inject","z":"8431cec.dcd443","name":"b3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["880e1595.eb8178"]]},{"id":"ae635ca6.32b1d","type":"websocket out","z":"8431cec.dcd443","name":"/ws/b4","server":"d070139f.d58e5","client":"","x":350,"y":600,"wires":[]},{"id":"3f911bcb.9f9e64","type":"inject","z":"8431cec.dcd443","name":"b4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["ae635ca6.32b1d"]]},{"id":"db7d0e3f.3a468","type":"comment","z":"8431cec.dcd443","name":"For digital pad.  access like: https://noderedcon.azurewebsites.net/dpad/push/6    for pushing the right direction","info":"","x":430,"y":100,"wires":[]},{"id":"5bb4c517.e77e1c","type":"comment","z":"8431cec.dcd443","name":"For buttons.  access like: https://noderedcon.azurewebsites.net/hold/2    for holding button #2","info":"","x":380,"y":240,"wires":[]},{"id":"126fcc5b.74dd34","type":"comment","z":"8431cec.dcd443","name":"For physical buttons on GC.  access like: ws://noderedcon.azurewebsites.net/ws/b1","info":"","x":350,"y":423,"wires":[]},{"id":"57ac5f14.140c1","type":"comment","z":"8431cec.dcd443","name":"Note that currently we use HTTPS and its default port, but we use HTTP and port 1880 for running on Raspberry Pi.","info":"","x":430,"y":40,"wires":[]},{"id":"3bafd941.8c93a6","type":"websocket-listener","z":"","path":"/ws/b1","wholemsg":"false"},{"id":"73970813.ce7988","type":"websocket-listener","z":"","path":"/ws/b2","wholemsg":"false"},{"id":"83d8757f.efdaa8","type":"websocket-listener","z":"","path":"/ws/b3","wholemsg":"false"},{"id":"d070139f.d58e5","type":"websocket-listener","z":"","path":"/ws/b4","wholemsg":"false"}]
